// --------------------
// Definition of variables
$primary: #ffffff; // Heading Bar colour here

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------

// --------------------
// Style reusable for all components
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0); // Main background Colour;
    color: white; // main body text colour
}

.info {
    margin: 20px;
    padding: 10px 50px;
    border-radius: 10px;
    display: inline-block;
    background-color: #5776e9;
    color: white;
}

.info.info-danger {
    background-color: #8a8383; // Unauthorized login Sign
}

// --------------------
// Style for App component
.App {
    text-align: center;

    .Title-bar {
        display: flex;
        // justify-content: space-between;
    }

    // .App-logo {
    //   animation: App-logo-spin infinite 20s linear;
    //   height: 8vw; // App logo size - responsive
    //   justify-content: flex-start;
    //   margin-right: 19vw;
    //   margin-top: 8px;

    // }

    .App-title {
        // font-size: 5vw; // titles font size
        font-size: calc(10px + 2vw);
        flex-grow: 1;
        margin-top: 5px;
        margin: 10px;
        padding: 10px;

        a {
            color: rgb(0, 0, 0); // nav bar Text colour
            // vertical-align: middle;
            // font-size: 3vw; // Nav bar font responsive size
            font-weight: bold;
            text-decoration: unset;
        }

        a.active {
            font-weight: bold;
        }
        // display: flex;
        // justify-content: flex-end;
    }

    .break {
        flex-grow: 8;
    }

    .signup-nav {
        // margin-top: 10px;
        padding-top: 15px;
        margin: 5px;
        // padding: 10px;
        // justify-content: flex-end;
        flex-grow: 1;
    }

    .login-nav {
        // margin-top: 10px;
        padding-top: 15px;
        margin: 5px;
        // padding: 5px;
        // justify-content: flex-end;
        flex-grow: 1;
    }

    .App-header {
        background-color: $primary;
        // padding: 10px;
        color: rgb(0, 0, 0); // heading Text colour
        // margin: 10px;
        padding: 2px 10px;
        // border-radius: 10px; // Rounded corners
        box-shadow: 0 0 10px rgba(228, 227, 227, 0.8); // Gives top panel a shadow
    }

    .App-intro {
        font-size: calc(10px + 3vw);
    }

    // @keyframes App-logo-spin {
    //   from {
    //     transform: rotate(0deg);
    //   }

    //   to {
    //     transform: rotate(360deg);
    //   }
    // }
}

.highNav {
    text-align: center;
    height: 5vw;
    background-color: white;
    // margin: 10px;
    padding: 2px 10px;
    // border-radius: 10px; // Rounded corners
    // box-shadow:0 0 15px rgba(197, 197, 197, 0.8); // Gives bottom Nav panel a shadow

    a {
        color: rgb(0, 0, 0); // nav bar Text colour
        padding: 0 5px;
        font-size: calc(7px + 1vw); // Nav bar font responsive size
        text-decoration: unset;
    }

    a.active {
        font-weight: bold;
    }
}

.nav {
    position: absolute;
    bottom: 0; // puts nav bar at bottom of page
    width: 100%;
}

.lowNav {
    text-align: center;
    height: 6vw;
    background-color: white;
    // margin: 10px;
    padding: 10px 20px;
    // border-radius: 10px; // Rounded corners
    box-shadow: 0 0 15px rgba(197, 197, 197, 0.8); // Gives bottom Nav panel a shadow

    a {
        color: rgb(0, 0, 0); // nav bar Text colour
        padding: 0 5px;
        font-size: calc(7px + 1vw); // Nav bar font responsive size
        text-decoration: unset;
    }

    a.active {
        font-weight: bold;
    }
}

// --------------------
// Style for Home component
.Home {
    p {
        font-size: calc(10px + 1vw);
    }
}

// --------------------
// Style for Test component
.Test {
    p {
        font-size: calc(10px + 3vw);
    }
}

.navIcon {
    margin: 5px;
    padding: 5px;
}

.button {
    background-color: rgb(0, 14, 207); /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
}

.recButton {
    background-color: rgb(255, 255, 255); /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
}

// --------------------
// Style for Secret component
.Secret {
    .result {
        font-size: calc(10px + 2vw);
        color: $primary;
    }
}

.audContrl {
    background-color: white; // Remove this for fully rounded courners
    border-radius: 5px;
}

.record-buttons {
    background-color: black;
}

.counter {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
}

/* div{
    border: solid 1px red // Show the borders on page
} */

.audioWrapper {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 90vw;
}

.audioTitleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10vw;
    height: 20vh;
    width: 90vw;
}

.audioTitle {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.audioImage {
    height: 8vh;
}
.audioFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textfield {
    width: 15vw;
}

.textfieldname {
    width: 10vw;
    padding-left: 5vw;
}

.nameform {
    text-align: left;
}
.comments-button {
    background-color: #ffffff;
    color: blue;
}

.comments-field {
    color: grey;
}

.comments {
    margin-top: 150px;
}

//**********TEXT BOX STYLING**********
.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00b4cc;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
}

.searchTerm:focus {
    color: #00b4cc;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
//**********END OF TEXT BOX STYLING**********
